body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 15px;
}

/* LOGO MENOR */
.logo {
    width: 75%;
    max-width: 260px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 14px;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.15);
}

.msg {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.4;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    background: white;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
}
